{%extends 'base.html'%} {% block page_title %} About My Library {% endblock %}
{%block content%}
<main>
  <h1>About My Library</h1>
  <p>
    This is a simple web application that allows you to keep track of your
    library of books. It is a project for BAIS:3300 - Digital Product Management
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto et iste,
    ut veritatis temporibus natus accusamus quos magni harum expedita
    perspiciatis quod possimus voluptatibus, laborum sunt odio aspernatur ullam
    nemo?
  </p>
</main>
{%endblock%}
